/**
 * 定型文生成マネージャー用スタイルシート
 */
#teikeibunTemplate,
#teikeibunCopyTextarea {
  border: 1px solid black;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
  padding: 1em;
}

.variable {
  background: #bbb;
  padding: 0 5px;
  cursor: pointer;
}

.incomplete {
  color: #D8000C;
  background-color: #FFBABA;
}

.complete{
  color: #4F8A10;
  background-color: #DFF2BF;
}

.editing {
  color: #00529B;
  background-color: #BDE5F8;
  font-size: 120%;
}
